body{
    background-color: lightcyan;
}
h3{
    width: 100%; 
   text-align: center; 
   border-bottom: 0px solid lightblue; 
   line-height: 1em;
   margin: 10px 0 20px;
}
#cinza{
    color: gray;
}
#cinzadois{
    color: gray;
}
